@import "../../scss/index.scss";

.ContainerformRegister {
  width: 95%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 10px 60px #f2f4f5;
  border-radius: 15px !important;
}

.ContainerformRegister {
  display: grid;
  grid-template-columns: 50% 50%;
}

.img_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  .landingRe {
    width: 400px;
    height: 400px;
  }
}

.register {
  margin: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ContainerformRegister {
    grid-template-columns: 100%;
  }

  .img_cont {
    display: none;
  }

  .landingRe {
    display: none;
  }

  .form_cont {
    overflow-x: hidden;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ContainerformRegister {
    grid-template-columns: 100%;
    height: auto;
  }

  .img_cont {
    display: none;
  }

  .landingRe {
    display: none;
  }

  .form_cont {
    overflow-x: hidden;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ContainerformRegister {
    grid-template-columns: 100%;
  }

  .img_cont {
    display: none;
  }

  .landingRe {
    display: none;
  }

  .form_cont {
    overflow-x: hidden;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ContainerformRegister {
    grid-template-columns: 50% 50%;
  }

  .img_cont {
    display: inline;
  }

  .landingRe {
    display: inline;
  }

  .form_cont {
    overflow-x: scroll;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ContainerformRegister {
    grid-template-columns: 50% 50%;
  }

  .img_cont {
    display: inline;
  }

  .landingRe {
    display: inline;
  }

  .form_cont {
    overflow-x: scroll;
  }
}
