@import "../../../scss/index.scss";

.Menu right {
  position: absolute;
  z-index: 100;
}

.bm-burger-button {
  font-size: 30px;
  color: $primary-color;
  outline: none;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  z-index: 100;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $primary-color;
  z-index: 100;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  z-index: 100;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2em 0.9em 0;
  font-size: 1.15em;
  z-index: 100;
  margin-top: -30px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $primary-color;
  z-index: 100;
}

/* Wrapper for item list */
.bm-item-list {
  color: $primary-color;
  padding: 0.8em;
  z-index: 100;
}

/* Individual item */
.bm-item {
  display: inline-block;
  z-index: 100;
}

/* Styling of overlay */
.bm-overlay {
  display: none;
}

.menu-item {
  text-decoration: none;
  color: $secundary-color;
  margin: 10px 50px;
  font-family: Helvetica;
  font-weight: bold;
  z-index: 100;
  text-align: right;
}

.menu-item:hover {
  text-decoration: none;
  color: $primary-color;
  z-index: 100;
}

.menu-item1 {
  text-decoration: none;
  color: $primary-color;
  margin-bottom: 20px;
  z-index: 100;
}

.menu-item1:hover {
  text-decoration: none;
  color: $primary-color;
  z-index: 100;
}

.btn-custom-ptimary {
  border: none;
  background-image: linear-gradient(90deg, #647dee 0, #647dee 30%, #8e54e9);
  color: $font-ligth-color;
  margin: 30px 10px;
  padding: 13px 30px;
  width: 200px;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 10px 60px #f2f4f5;
  text-align: center;

  &:hover {
    color: $font-ligth-color;
  }
}
