@import "../../scss/index.scss";

.main-wrapper {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
  /* overflow: hidden; */
}

.nav-items {
  min-height: 100vh;
  height: auto !important;
}

.topnav {
  flex: 1;
  min-width: 80px;
  z-index: 0;
  height: 100%;
}

.page-content {
  flex: 7;
  min-width: 0;
  background-color: #f2f2f2;
}

.simple {
  text-align: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  cursor: pointer;
  img {
    width: 100px;
    margin-bottom: 3rem;
    margin-top: 2rem;
    cursor: pointer;
  }
}

button.simple.ant-btn {
  height: auto;
  padding: 5px 0px;
}

button.simple.ant-btn h3 {
  white-space: initial;
}

.toggle-nav {
  display: none;
}

@media (max-width: 1100px) {
  button.simple.ant-btn h3 {
    font-size: 12px;
    margin-top: 5px;
  }

  button.ant-btn.active.simple .anticon,
  button.ant-btn.simple .anticon {
    font-size: 16px;
  }

  button.simple.ant-btn {
    padding: 5px 0 0 0;
  }

  .ant-table {
    overflow: auto;
  }

  .topnav {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .toggle-nav {
    width: 100%;
    text-align: center;
    line-height: 60px;
    color: #fff;
    display: block;
    font-size: 16px;
  }

  .topnav {
    padding: 0;
    position: fixed;
    left: 0;
    height: fit-content;
    z-index: 15;
    border-radius: 0 50% 50% 50%;
    overflow: hidden;
    min-width: 60px;
    height: 60px !important;
    cursor: pointer;
  }

  .visible-mobile {
    border-radius: 0;
    height: 100% !important;
  }

  .nav-items {
    display: none;
    padding-bottom: 50px;
    overflow-y: scroll;
  }

  .visible-mobile .nav-items {
    display: block;
  }

  .visible-mobile {
    width: 100%;
    flex: 0;
  }

  .visible-mobile .toggle-nav {
    text-align: left;
    padding-left: calc(5% + 8px);
  }

  .visible-mobile .ant-btn {
    flex-direction: row !important;
    justify-content: flex-start !important;
    padding: 5px 0 5px 5% !important;
  }

  .visible-mobile .ant-btn h3 {
    margin-left: 5%;
  }

  .container.mt-5 {
    padding: 15px 0 !important;
  }

  .container .cont {
    padding: 15px;
  }

  .ant-radio-group {
    display: block;
    width: 100%;
  }

  .ant-time-picker {
    width: 40% !important;
    margin-top: 10px;
  }

  .card-title {
    padding: 0 10px;
  }

  .cont .ant-card.ant-card-bordered {
    margin: 0 auto;
  }

  .startverify {
    margin: 0;
    width: 100%;
  }
}

/* Top nav var */

.topnav {
  background-color: $secundary-color;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topnav .topnavtitle {
  color: rgba(255, 255, 255, 0.5);
  height: 60px;
  width: 80px !important;
  margin: 0 auto;
}

.row.nomargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

button.ant-btn.simple .anticon {
  font-size: 24px;
  background: #2a383f;
  padding: 10px;
  border-radius: 50%;
  color: #9e9e9e;
}

button.ant-btn.simple h3 {
  font-size: 14px;
  margin-top: 10px;
  color: #9e9e9e;
}

button.ant-btn.simple {
  background: transparent;
  border: none;
  border-radius: 0;
  width: 100%;
  margin-bottom: 20px;
}

button.ant-btn.simple:hover {
  background: #1d3643;
}

button.ant-btn.simple:hover .anticon {
  background: #2a383f;
}

button.ant-btn.active.simple {
  background: $secundary-color-active;
}

button.ant-btn.active.simple .anticon {
  font-size: 24px;
  background: $primary-color;
  padding: 10px;
  border-radius: 50%;
  color: #ffffff;
}
