@import "../../../scss/index.scss";

.header_container_shadow_home {
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  background-color: $background-ligth-color !important;
  z-index: 99;
  display: flex;
  align-items: center;
}

.is {
  color: $font-ligth-color !important;
  align-items: center;
}

.is_green {
  color: #647dee !important;
}

.bt {
  background-color: $background-ligth-color !important;
  color: $font-ligth-color !important;
}

.bt_active {
  background-image: linear-gradient(
    90deg,
    #647dee 0,
    #647dee 30%,
    #8e54e9
  ) !important;
  color: $background-ligth-color !important;
}

.logo {
  width: 150px;
  height: 40px;
  margin-left: 15px;
  background-image: url("../../../Assets/images/profile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.logo_black {
  width: 150px;
  height: 40px;
  margin-left: 15px;
  background-image: url("../../../Assets/images/logo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.header_container_home {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 99;
  &_items {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

    &_left {
      display: flex;
      align-items: center;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li {
          float: left;
          a {
            font-size: 16px;
            padding: 14px 16px;
          }
        }
      }
    }

    &_rigth_loged {
      display: flex;
      margin-left: auto;
      align-items: center;

      p {
        margin-left: 10px;
        padding-top: 10px;
        font-size: 16px;
        font-weight: 600;
      }
    }

    &_rigth {
      margin-left: auto;

      a {
        border: none;
        background-color: $primary-color;
        color: $font-ligth-color;
        margin: 0 10px;
        padding: 13px 30px;
        width: 200px;
        border-radius: 100px;
        outline: none;
        cursor: pointer;

        &:hover {
          background-color: $primary-color-hover;
        }
      }
    }
  }
}

.response_menu {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header_container_shadow_home {
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    background-color: $background-ligth-color;
    z-index: 99;
  }

  .header_container_home {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: transparent;
    z-index: 99;
    &_items {
      width: 100%;
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;

      &_left {
        display: flex;
        align-items: center;
        img {
          width: 130px;
          height: 80px;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          li {
            float: left;
            a {
              display: none;
            }
          }
        }
      }

      &_rigth_loged {
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: 20px;

        p {
          margin-left: 10px;
          padding-top: 10px;
          font-size: 16px;
          font-weight: 600;
          display: none;
        }
      }

      &_rigth {
        margin-left: auto;

        a {
          display: none;

          &:hover {
            background-color: $primary-color-hover;
          }
        }
      }
    }
  }
  .response_menu {
    display: inline;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header_container_shadow_home {
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    background-color: $background-ligth-color;
    z-index: 99;
  }

  .header_container_home {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: transparent;
    z-index: 99;
    &_items {
      width: 100%;
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;

      &_left {
        display: flex;
        align-items: center;
        img {
          width: 130px;
          height: 80px;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          li {
            float: left;
            a {
              display: none;
            }
          }
        }
      }

      &_rigth_loged {
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: 20px;

        p {
          margin-left: 10px;
          padding-top: 10px;
          font-size: 16px;
          font-weight: 600;
          display: none;
        }
      }

      &_rigth {
        margin-left: auto;

        a {
          display: none;

          &:hover {
            background-color: $primary-color-hover;
          }
        }
      }
    }
  }
  .response_menu {
    display: inline;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header_container_shadow_home {
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    background-color: $background-ligth-color;
    z-index: 99;
  }

  .header_container_home {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: transparent;
    z-index: 99;
    &_items {
      width: 100%;
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;

      &_left {
        display: flex;
        align-items: center;
        img {
          width: 140px;
          height: 80px;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          li {
            float: left;
            a {
              display: none;
            }
          }
        }
      }

      &_rigth_loged {
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: 20px;

        p {
          margin-left: 10px;
          padding-top: 10px;
          font-size: 16px;
          font-weight: 600;
          display: none;
        }
      }

      &_rigth {
        margin-left: auto;

        a {
          display: none;

          &:hover {
            background-color: $primary-color-hover;
          }
        }
      }
    }
  }
  .response_menu {
    display: inline;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header_container_shadow_home {
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    background-color: $background-ligth-color;
    z-index: 99;
  }

  .header_container_home {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: transparent;
    z-index: 99;
    &_items {
      width: 100%;
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;

      &_left {
        display: flex;
        align-items: center;
        img {
          width: 160px;
          height: 80px;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          li {
            float: left;
            a {
              display: inline;
            }
          }
        }
      }

      &_rigth_loged {
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: 20px;

        p {
          margin-left: 10px;
          padding-top: 10px;
          font-size: 16px;
          font-weight: 600;
          display: inline;
        }
      }

      &_rigth {
        margin-left: auto;

        a {
          display: inline;

          &:hover {
            background-color: $primary-color-hover;
          }
        }
      }
    }
  }
  .response_menu {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header_container_shadow_home {
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    background-color: $background-ligth-color;
    z-index: 99;
  }

  .header_container_home {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: transparent;
    z-index: 99;
    &_items {
      width: 100%;
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;

      &_left {
        display: flex;
        align-items: center;
        img {
          width: 140px;
          height: 80px;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          li {
            float: left;
            a {
              display: inline;
            }
          }
        }
      }

      &_rigth_loged {
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: 20px;

        p {
          margin-left: 10px;
          padding-top: 10px;
          font-size: 16px;
          font-weight: 600;
          display: inline;
        }
      }

      &_rigth {
        margin-left: auto;

        a {
          display: inline;

          &:hover {
            background-color: $primary-color-hover;
          }
        }
      }
    }
  }
  .response_menu {
    display: none;
  }
}
