@import "../../../scss/index.scss";

.card_mascota {
  height: 270px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px #dfdfdf;
  img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center center;
  }

  &__info {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    line-height: 1;
    display: flex;
    align-items: center;

    p {
      color: gray;
      line-height: 0px;
    }
  }
}
