@import "../../../scss/index.scss";

.macota__container {
  width: 100%;
  max-height: 100vh;
  overflow-x: scroll;

  &__items {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 30px;

    &_childern {
      padding: 20px;

      &_form {
        width: 100%;
        max-width: 700px;
        padding: 20px;
        background-color: $background-ligth-color;
        border-radius: 10px;
        text-align: left !important;
      }

      &__mas {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;
      }
    }
  }

  .no_data {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    img {
      width: 300px;
      text-align: center;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .macota__container {
    &__items {
      grid-template-columns: 100%;
      &_childern {
        &__mas {
          grid-template-columns: 100%;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .macota__container {
    &__items {
      grid-template-columns: 100%;
      &_childern {
        &__mas {
          grid-template-columns: 100%;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .macota__container {
    &__items {
      grid-template-columns: 100%;
      &_childern {
        &__mas {
          grid-template-columns: 100%;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .macota__container {
    &__items {
      grid-template-columns: 50% 50%;
      &_childern {
        &__mas {
          grid-template-columns: 50% 50%;
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .macota__container {
    &__items {
      grid-template-columns: 50% 50%;
      &_childern {
        &__mas {
          grid-template-columns: 50% 50%;
        }
      }
    }
  }
}
