@import "../../scss/index.scss";
.barner_home {
  width: 100%;

  .hero_home {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center !important;
    animation: mymove linear 30s infinite;
    animation-delay: -5s;
    padding: 0 30px;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      width: 100%;
      max-width: 1100px;
      color: $font-ligth-color;
      font-size: 5rem;
      font-weight: 700;
    }

    p {
      color: $font-ligth-color;
      font-size: 18px;
      font-weight: 300;
    }

    .btn-grad {
      background-color: transparent;
    }
    .btn-grad {
      margin: 10px;
      padding: 20px 100px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      border: 2px solid white;
      border-radius: 100px;
      display: block;
    }

    .btn-grad:hover {
      background-position: right center; /* change the direction of the change here */
      color: #647dee;
      text-decoration: none;
      background-color: white;
    }
  }
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate 30s linear infinite;
  z-index: 0;
  opacity: 1;
  animation-delay: 0s;
}

.wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate1 10s linear infinite;
  z-index: 0;
  opacity: 0.5;
  animation-delay: -5s;
}

.wave3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate 05s linear infinite;
  z-index: 1;
  opacity: 0.2;
  animation-delay: -2s;
}

.wave4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate1 15s linear infinite;
  z-index: 2;
  opacity: 0.7;
  animation-delay: -5s;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes mymove {
  0% {
    transition: ease;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./portrait-adorable-dog-enjoying-time-outside.jpg");
  }
  33% {
    transition: ease;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./cute-happy-dog-chewing-stick.jpg");
  }
  66% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./selective-focus-closeup-shot-gray-furry-tabby-cat-sitting-wooden-chair.jpg");
  }

  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./ola.jpg");
  }
}

.brand {
  width: 100%;
  height: 200px;
  background-color: #eee;
  margin-bottom: 2rem;
  overflow-x: scroll;
  text-align: center;

  h3 {
    margin-top: 20px;
  }

  &__item {
    width: 95%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 120px;

    div {
      width: 100%;
      height: 30px;
      margin: 20px 0px;
      border-radius: 15px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      margin-right: 20px;

      img {
        width: 130px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
}

.btn-grad2 {
  margin: 10px;
  padding: 20px 100px;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  background-color: #647dee;
  border-radius: 100px;
  display: block;

  &:hover {
    color: white;
  }
}

.slider-cont {
  width: 90%;
  height: auto;
  margin: 0 auto;
  text-align: center;

  div {
    margin: 10px;
    img {
      width: 50px;
      border-radius: 10px;
    }
  }
}

.slick-arrow,
.slick-next,
.slick-prev {
  display: none !important;
}

.slick-dots {
  display: none !important;
}

.slick-track {
  height: 60px !important;
}

.contenido_Home {
  margin-top: 3rem;
  margin-bottom: 1rem;

  &__item__home__container {
    max-width: 1100px;
    margin: 3rem auto;
    display: flex;

    &__childrem {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 2rem;

      div {
        margin: 20px;
        text-align: center;
        align-self: center;
        margin: 8rem 0;
        h1 {
          text-align: left;
          font-size: 42px;
          font-weight: 500;
          line-height: 1.3;
          margin-right: 20px;
        }

        p {
          text-align: left;
          font-size: 20px;
          font-weight: 300;
          margin-right: 20px;
        }
      }

      img {
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.151);
        border-radius: 15px;
        width: 400px;
      }
    }
  }
}

.paramovil {
  display: none;
}

.dektop {
  display: inline;
}

@media only screen and (max-width: 768px) {
  .fc-widget-normal {
    display: none !important;
  }
}

@media only screen and (max-width: 413px) {
  .wave,
  .wave2,
  .wave3,
  .wave4 {
    display: none;
  }
  .barner_home {
    .hero_home {
      height: 500px;
      text-align: center;
      h1 {
        font-size: 3rem;
      }

      .btn-grad {
        margin: 10px;
        padding: 10px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border: 2px solid white;
        border-radius: 100px;
        display: block;
      }
    }
  }

  .contenido_Home {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin: 0px;

    &__item__home__container {
      max-width: 1100px;
      margin: 3rem auto;
      display: flex;

      &__childrem {
        display: grid;
        grid-template-columns: 100%;
        gap: 0rem;

        div {
          text-align: center;
          align-self: center;
          margin: 0rem 0px;
          h1 {
            text-align: center;
            font-size: 42px;
            font-weight: 500;
          }

          p {
            text-align: center;
            font-size: 20px;
            font-weight: 300;
          }

          img {
            width: 150px;
          }
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 421px) {
  .brand {
    &__item {
      grid-template-columns: 100%;
    }
  }
  .barner_home {
    .hero_home {
      text-align: center;
      h1 {
        font-size: 3rem;
      }
    }
  }

  .paramovil {
    display: inline;
  }

  .dektop {
    display: none;
  }

  .contenido_Home {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin: 20px;

    &__item__home__container {
      max-width: 1100px;
      margin: 3rem auto;
      display: flex;

      &__childrem {
        display: grid;
        grid-template-columns: 100%;
        gap: 0rem;

        div {
          text-align: center;
          align-self: center;
          margin: 1rem 20px;
          h1 {
            text-align: center;
            font-size: 42px;
            font-weight: 500;
          }

          p {
            text-align: center;
            font-size: 20px;
            font-weight: 300;
          }
        }

        img {
          width: 200px;
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
  .wave,
  .wave2,
  .wave3,
  .wave4 {
    display: none;
  }

  .barner_home {
    .hero_home {
      text-align: center;
      h1 {
        font-size: 3rem;
      }
    }
  }

  .paramovil {
    display: inline;
  }

  .dektop {
    display: none;
  }

  .contenido_Home {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin: 20px;

    &__item__home__container {
      max-width: 1100px;
      margin: 3rem auto;
      display: flex;

      &__childrem {
        display: grid;
        grid-template-columns: 100%;
        gap: 0rem;

        div {
          text-align: center;
          align-self: center;
          margin: 1rem 20px;
          h1 {
            text-align: center;
            font-size: 42px;
            font-weight: 500;
          }

          p {
            text-align: center;
            font-size: 20px;
            font-weight: 300;
          }
        }

        img {
          width: 300px;
        }
      }
    }
  }
}
