.containers_barnes {
  width: 100%;
  background-color: #eeeeee;
}

.containers_barnes_children {
  width: 100%;
  max-width: 900px;
  padding-top: 140px;
  padding-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
}

.containers_barnes_children div {
  margin: 20px;
  text-align: center;
}

.containers_barnes_children h1 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}

.containers_barnes_children p {
  text-align: center;
  margin-bottom: 2rem;
}

.containers_barnes_children a {
  padding: 18px;
  width: 100%;
  max-width: 380px;
  border-radius: 5px;
  padding-left: 70px;
  padding-right: 70px;
  color: white;
  text-decoration: none;
  background-color: #647dee;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}
