@import "../../../scss/index.scss";

.accounthelp {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;

  h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .conthelp {
    width: 90%;
    max-width: 500px;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 3rem;
    &_account_set {
      width: 100%;
      max-width: 500px;
      padding: 20px;
      background-color: $background-ligth-color;
      border-radius: 10px;
      text-align: center !important;

      p {
        line-height: 0;
      }

      .lef_cont {
        border-right: 1px solid #eee;
        margin-right: 20px;
        padding-right: 20px;
        text-align: center;
      }

      .contenido {
        width: 100%;
        &_user {
          border-bottom: 1px solid #eee;
          padding-top: 15px;
          padding-bottom: 15px;
          margin-bottom: 15px;

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
