@import "../../scss/index.scss";

.btn__social {
  border: none;
  width: 100%;
  padding: 15px 0px;
  background: $font-ligth-color;
  box-shadow: 0px 3px 10px $background-navbar;
  border-radius: 5px;
  margin: 20px 20px;
  outline: none;
  cursor: pointer;

  img {
    width: 27px;
    height: 27px;
    margin-right: 10px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .btn__social {
    border: none;
    width: 350px;
    padding: 15px 0px;
    background: $font-ligth-color;
    box-shadow: 0px 3px 10px $background-navbar;
    border-radius: 5px;
    margin: 10px 0px;
    outline: none;
    cursor: pointer;

    img {
      width: 27px;
      height: 27px;
      margin-right: 10px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
