@import "../../scss/index.scss";

.containers {
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 100px;
}

.Containerformm {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  width: 100%;

  p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: $primary-color;
  }
}

.login-form {
  max-width: 350px;
  width: 100%;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.btn-res {
  padding: 12px;
  background-color: white;
  border-radius: 5px;
  color: $primary-color;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}
