$primary-color: #647dee;
$primary-color-hover: #8e54e9;
$secundary-color: #263238;
$secundary-color-active: #182024;

$color-gray: #eeeeee;

$font-dark-color: #a8a6a6;
$font-primary-color: #014251;
$font-ligth-color: #ffffff;
$font-back-color: #323438;
$font-gray: #e2e4e8;

$background-dark-color: #000000;
$background-ligth-color: #ffffff;
$background-gray-dark-color: #626771;
$background-gray-color: rgba(216, 221, 230, 0.5);
$background-primary-active-color: $primary-color;
$background-transparent: transparent;
$background-navbar: #eceef2;
$background-footer: #001930;

$ERROR: #f5365c;
