@import "../../../scss/index.scss";

.account {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;

  h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .cont {
    width: 90%;
    max-width: 500px;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 3rem;
    &_account_set {
      width: 100%;
      max-width: 500px;
      padding: 20px;
      background-color: $background-ligth-color;
      border-radius: 10px;
      text-align: left !important;

      p {
        line-height: 0;
      }

      .lef_cont {
        border-right: 1px solid #eee;
        margin-right: 20px;
        padding-right: 20px;
        text-align: center;
      }

      .contenido {
        width: 100%;
        &_user {
          border-bottom: 1px solid #eee;
          padding-top: 15px;
          padding-bottom: 15px;
          margin-bottom: 15px;

          p {
            font-size: 18px;
          }
        }
      }

      .card__solicitud {
        cursor: pointer;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
        background-color: $background-ligth-color;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        &_im {
          img {
            width: 75px;
            height: 75px;
            border-radius: 15px;
            object-fit: cover;
            object-position: center center;
          }
        }

        &_info {
          margin-left: 10px;
        }

        &_extra {
          margin-left: auto;
        }
      }
    }
  }

  .no_data {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    img {
      width: 300px;
      text-align: center;
    }
  }
}

.detalles {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center center;
  }

  &__info_soli {
    margin-top: 30px;
  }
}
