@import "../../../scss/index.scss";

.containers {
  margin-left: auto;
  margin-right: auto;
  padding-top: 130px;
  margin-bottom: 80px;
}

.Containerformm {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 60px #f2f4f5;
  text-align: center;
}

.page-loader {
  text-align: center;
}

.btm-active-e {
  text-decoration: none;
  color: #fff;
  background-color: $primary-color;
  padding: 15px;
  border-radius: 50px;
  width: 75%;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.btm-active-e:hover {
  color: white;
}

.inpu {
  margin-right: 2rem;
  font-family: Helvetica;
}

.Phone {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  background-color: white;
  height: auto;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 60px #f2f4f5;
}

.register-page-content {
  margin: 30px;
}

.containers-login {
  width: 100%;
  margin: 0;
  padding: 0;
}

.Containerform-login {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  max-width: 1100px;
  box-shadow: 0 10px 60px #f2f4f5;
  grid-template-columns: 50% 50%;
  margin-bottom: 5rem;
}

.Containerform p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: $primary-color;
}

.psol {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: $primary-color;
  margin-bottom: 30px;
}

.login-form {
  max-width: 400px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control {
  height: 60px;
  width: 100%;
}

.forgot {
  color: $primary-color;
}

.forgot:hover {
  color: $primary-color;
}
.login-form-forgot {
  color: $primary-color;
  margin-left: auto;
}

.login-form-forgot:hover {
  color: $primary-color;
}

.btm {
  text-decoration: none;
  color: #fff;
  background-color: #8d8d8d;
  padding: 20px;
  border-radius: 50px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding-left: 100px;
  padding-right: 100px;
  outline: none;
}

.btm:hover {
  color: white;
}

.phoneinput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 15px;
  margin-top: 2rem;
  width: 100%;
}

.btm {
  text-decoration: none;
  color: #767676;
  background-color: #ebebeb;
  border-color: #ebebeb;
  padding: 15px;
  border-radius: 50px;
  width: 250px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.btm:hover {
  text-decoration: none;
  color: #767676;
  background-color: #f1f1f1;
}

.btm-active {
  text-decoration: none;
  color: #fff;
  background-color: $primary-color;
  padding: 15px;
  border-radius: 50px;
  width: 250px;
  text-align: center;
  cursor: pointer;
}

.btm-active:hover {
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Containerform-login {
    grid-template-columns: 100%;
  }

  .img_cont {
    display: none;
  }

  .landingRe {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Containerform-login {
    grid-template-columns: 100%;
  }

  .img_cont {
    display: none;
  }

  .landingRe {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Containerform-login {
    grid-template-columns: 100%;
  }

  .img_cont {
    display: none;
  }

  .landingRe {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Containerform-login {
    grid-template-columns: 50% 50%;
  }

  .img_cont {
    display: inline;
  }

  .landingRe {
    display: inline;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Containerform-login {
    grid-template-columns: 50% 50%;
  }

  .img_cont {
    display: inline;
  }

  .landingRe {
    display: inline;
  }
}
